#ignore pycache files
model/__pycache__/*
.mypy_cache/*

#ignore virtual environment
.venv/*

#ignore vscode settings 
.vscode/*

#ignore own datafiles + debug logs
data/*
debug.log 
analysis/*.html 
analysis/plots/*
analysis/__pycache__/*
analysis/*.ipynb_checkpoints/*

#ignore log files
bash-scripts/LOGS/*
model/*.out

misc/*
