#ignore pycache files
model/__pycache__/*
.mypy_cache/*

#ignore virtual environment
.venv/*

#ignore vscode settings 
.vscode/*

#ignore own datafiles + debug logs
data/*
debug.log 
analysis/*.html 
analysis/plots/*

#ignore log files
log_hh.log
log_store.log


