#ignore pycache files
model/__pycache__/*
model/*.ipynb_checkpoints/*
.mypy_cache/*
.ipynb_checkpoints/*
#ignore virtual environment
.venv/*

#ignore vscode settings 
.vscode/*

#ignore own datafiles + debug logs
data/*
debug.log 
analysis/*.html 
analysis/plots/*
analysis/__pycache__/*
analysis/*.ipynb_checkpoints/*

#ignore log files
bash-scripts/LOGS/*
model/*.out


misc/*

#ignore figure files
analysis/figures/*

#ignore personal setups
input/gsua_based_configuration/shopping/*
input/gsua_based_configuration/samples/shopping/*

#dont upload data
output/*

